h1 {color:violet;}
#f1 {color:yellow}
.f2 {color:#CD5C5C}
b {color: aqua; backgroung-color: teal;}
c {color: yellowgreen; backgroung-color: palevioletred;}
a {color: saddlebrown; backgroung-color: papayawhip;}

