h1 {color:violet;}
#f1 {color:yellow}
.f2 {color:#CD5C5C}
b1{
color: aqua; 
backgroung-color: teal;}
b2
{color: yellowgreen; 
backgroung-color: palevioletred;}
b3
{color: saddlebrown; 
backgroung-color: papayawhip;}

